body{
    font-family: Arial, Helvetica, sans-serif;

}
.header, .content, .sidebar, .footer{
    padding: 1%;
    margin: 1%;
}
.header{
    border: 1px solid red;
    position: relative;
}
.content{
    border: 1px solid green;
    width: 45%;
    float: left;
position: relative;
    

}
.sidebar{
    position: relative;
    width : 45%;
    border: 1px solid  blue;
    float: right;

    

}
.footer{
    clear: both;
    border: 1px solid purple;
   
    

    

