body{
    font-family: Arial, Helvetica, sans-serif;
    a
}
.header, .content, .sidebar, .footer{
    padding: 1%;
    margin: 1%;
}
.header{
    border: 1px solid red;
    position: relative;
}
.content{
    border: 1px solid green;
    float: right;
    position: absolute
    

}
.sidebar{
    position: absolute;
    border: 1px solid  blue;
    float: left;

    

}
.footer{
    clear: both;
    border: 1px solid purple;
    position: relative;
    
p{
    

}